In [ ]:
import math
n=int(input())
print(math.sqrt(n))

25
5.0

In [ ]:
a=int(input())
b=int(input())
print("Before:",a,b)
a,b=b,a
print("After:",a,b)

21
12
Before: 21 12
After: 12 21

In [ ]:
n=int(input())
if n<0:
  print("Negative")
else:
  print("Positive")

-21
Negative

In [ ]:
n=int(input())
if n%2==0:
  print("Even")
else:
  print("Odd")

21
Odd

In [ ]:
n=int(input())
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)
print(fact(n))

21
51090942171709440000

In [ ]:
n=input()
if n==n[::-1]:
  print("Palindrome")
else:
  print("Not Palindrome")

bob
Palindrome

In [ ]:
import pandas as pd
data={"Name":["Alice","Bob","Charlie"], "Age":[12,34,29], "City":["New York","San Francisco","Los Angeles"]}
df=pd.DataFrame(data)
print(df["Age"])

0    12
1    34
2    29
Name: Age, dtype: int64

In [ ]:
print(df[df["Age"]>25])

      Name  Age           City
1      Bob   34  San Francisco
2  Charlie   29    Los Angeles

In [ ]:
arr=list(map(int,input().split()))
def and_func(arr):
  for i in arr:
    if i==0:
      return False
  return True
print(and_func(arr))

1 1 1 1 1 1 1
True