In [36]:
import pandas as pd
df=pd.read_csv("C://Users//sinci//Downloads//taxi dataset.csv")
df.head()

   TaxiID  Distance_Covered (km)  Fare_Amount
0     101                   12.5         15750
1     102                    8.0         10500
2     103                   15.2         18600
3     104                    7.3          9900
4     105                   20.0         25000

In [38]:
df.columns = df.columns.str.strip()

In [40]:
cols = ['Distance_Covered (km)', 'Fare_Amount']

In [42]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
min_max = MinMaxScaler().fit_transform(df[cols])
min_max_df = pd.DataFrame(min_max, columns=[f"{c}_MinMax" for c in cols])

In [44]:
z_score = StandardScaler().fit_transform(df[cols])
z_score_df = pd.DataFrame(z_score, columns=[f"{c}_ZScore" for c in cols])

In [46]:
result = pd.concat([df[cols], min_max_df, z_score_df], axis=1)

In [48]:
result.head()

,Distance_Covered (km),Fare_Amount,Distance_Covered (km)_MinMax,Fare_Amount_MinMax,Distance_Covered (km)_ZScore,Fare_Amount_ZScore
0,12.5,15750,0.394737,0.530333,-0.081250,0.233851
1,8.0,10500,0.157895,0.324853,-0.812498,-0.490111
2,15.2,18600,0.536842,0.641879,0.357499,0.626859
3,7.3,9900,0.121053,0.301370,-0.926248,-0.572849
4,20.0,25000,0.789474,0.892368,1.137497,1.509402