In [8]:
import pandas as pd
df=pd.read_csv("C://Users//sinci//Downloads//product-new.csv")

In [10]:
df.head()

,TransactionID,CustomerID,ProductCategory,Date,Quantity,SalesAmount,StoreLocation
0,T001,C101,Electronics,1/15/2024,2,1200,New York
1,T002,C102,Clothing,1/16/2024,5,250,Los Angeles
2,T003,C103,Grocery,1/16/2024,10,50,Chicago
3,T004,C104,Furniture,1/17/2024,1,500,New York
4,T005,C101,Electronics,1/18/2024,1,800,Los Angeles

In [12]:
grouped_df = df.groupby('ProductCategory').agg({'Quantity': 'sum', 'SalesAmount': 'sum'}).reset_index()

print(grouped_df)

  ProductCategory  Quantity  SalesAmount
0        Clothing        25         1250
1     Electronics         7         5600
2       Furniture         5         2550
3         Grocery        70          355

In [14]:
grouped_df = df.groupby('StoreLocation').agg({'Quantity': 'sum', 'SalesAmount': 'sum'}).reset_index()

print(grouped_df)

  StoreLocation  Quantity  SalesAmount
0       Chicago        40         2800
1   Los Angeles        30         3440
2      New York        37         3515

In [16]:
grouped_df = df.groupby('ProductCategory').agg({'Quantity': 'sum'}).reset_index()

print(grouped_df)

  ProductCategory  Quantity
0        Clothing        25
1     Electronics         7
2       Furniture         5
3         Grocery        70

In [18]:
grouped_df = df.groupby('ProductCategory').agg({'Quantity': 'sum'}).reset_index()

min_quantity_product = grouped_df.loc[grouped_df['Quantity'].idxmin()]

print(min_quantity_product)

ProductCategory    Furniture
Quantity                   5
Name: 2, dtype: object

In [20]:
aggregated_metrics = df.groupby('ProductCategory').agg(
    total_quantity_sold=('Quantity', 'sum'),      
    average_quantity_sold=('Quantity', 'mean'),   
    transaction_count=('Quantity', 'count')       
).reset_index()

print(aggregated_metrics)

  ProductCategory  total_quantity_sold  average_quantity_sold  \
0        Clothing                   25               5.000000
1     Electronics                    7               1.400000
2       Furniture                    5               1.250000
3         Grocery                   70              11.666667

   transaction_count
0                  5
1                  5
2                  4
3                  6