In [ ]:
import pandas as pd 
df=pd.read_excel("C://Users//sinci//Downloads//Student Dataset.xlsx")

In [ ]:
df['Group'] = df['ID'].str.extract(r'([A-Za-z]+)')  
df['GroupCode'] = df['ID'].str.extract(r'(\d+)')  

print(df[['ID', 'Group', 'GroupCode']])

In [8]:
df['Stream'] = df['Stream'].str.replace('Engineering', 'CSE', regex=True)

print(df[['Stream']])

        Stream
0      Science
1          CSE
2      Science
3          CSE
4      Science
5          CSE
6      Science
7          CSE
8      Science
9          CSE
10     Science
11         CSE
12     Science
13         CSE
14     Science
15         CSE
16     Science
17         CSE
18     Science
19         CSE
20  Management
21         CSE
22     Science
23         CSE
24     Science
25  Management
26     Science
27         CSE
28     Science
29         CSE
30     Science
31  Management
32  Management
33         CSE
34     Science
35         CSE
36  Management
37         CSE
38     Science
39         CSE

In [2]:
df['Gender'] = df['Gender'].str[0]

print(df[['Gender']])

NameError: name 'df' is not defined