In [10]:
import pandas as pd
import numpy as np
dict={'First Score':[100,90,np.nan,95],'Second Score':[30,45,56,np.nan],'Third Score':[np.nan,40,89,90]}
df=pd.DataFrame(dict)
print(df)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         89.0
3         95.0           NaN         90.0

In [12]:
df.describe()

       First Score  Second Score  Third Score
count          3.0      3.000000     3.000000
mean          95.0     43.666667    73.000000
std            5.0     13.051181    28.583212
min           90.0     30.000000    40.000000
25%           92.5     37.500000    64.500000
50%           95.0     45.000000    89.000000
75%           97.5     50.500000    89.500000
max          100.0     56.000000    90.000000

In [25]:
df['First Score'].fillna(df['First Score'].mean())

0    100.0
1     90.0
2     95.0
3     95.0
Name: First Score, dtype: float64

In [29]:
df['Second Score'].fillna(df['Second Score'].median())

0    30.0
1    45.0
2    56.0
3    45.0
Name: Second Score, dtype: float64

In [33]:
df['Third Score'].fillna(df['Third Score'].mode())

0    40.0
1    40.0
2    89.0
3    90.0
Name: Third Score, dtype: float64

In [35]:
print(df)

   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         89.0
3         95.0          45.0         90.0

In [73]:
data=[1,2,2,2,3,1,1,15,2,2,2,3,1,1,2]
from scipy import stats
stats.zscore(data)

array([-0.49604737, -0.19841895, -0.19841895, -0.19841895,  0.09920947,
       -0.49604737, -0.49604737,  3.67075053, -0.19841895, -0.19841895,
       -0.19841895,  0.09920947, -0.49604737, -0.49604737, -0.19841895])

In [87]:
import numpy as np
newdata=[2,5,7,8,12,15,18,21,24,30]
Q1 = np.percentile(newdata, 25)
Q3 = np.percentile(newdata, 75)
print("Q1: ",Q1,"\nQ3: ",Q3)

Q1:  7.25
Q3:  20.25

In [105]:
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print("Interquartile range: ",IQR)
print("Lower bound: ",lower_bound)
print("Upper bound: ",upper_bound)

outlier=[]
for x in data:
    if((x>upper_bound) or (x<lower_bound)):
        outlier.append(x)
print("Outlier: ",outlier)

Interquartile range:  13.0
Lower bound:  -12.25
Upper bound:  39.75
Outlier:  [3000, 15000, 300]

In [124]:
data=[1,2,2,2,3000,1,1,15000,2,2,2,300,1,1,2]
sort_data=np.sort(data)
print(sort_data)
from scipy import stats
IQR=stats.iqr(sort_data,interpolation='midpoint')
print(IQR)

[    1     1     1     1     1     2     2     2     2     2     2     2
   300  3000 15000]
1.0

In [126]:
new_data=[0,0,2,8,8,8,9,9,10,10,11,12,12,12,14,15,20,25]
Q1 = np.percentile(new_data, 25)
Q3 = np.percentile(new_data, 75)
print("Q1: ",Q1,"\nQ3: ",Q3)

Q1:  8.0
Q3:  12.0

In [132]:
IQR=Q3-Q1
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print("Interquartile range: ",IQR)
print("Lower bound: ",lower_bound)
print("Upper bound: ",upper_bound)

outlier=[]
for x in new_data:
    if((x>upper_bound) or (x<lower_bound)):
        outlier.append(x)
print("Outlier: ",outlier)

Interquartile range:  4.0
Lower bound:  2.0
Upper bound:  18.0
Outlier:  [0, 0, 20, 25]